<div class="background">
<div class="form-container">
<h1>Users List</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to  "#{user.first_name}  #{user.last_name}" , user%>
    </li>
  <% end %>
</ul>
<%= link_to "Create User", new_user_path, class: "button-link"%>

</div>
</div>