<%=stylesheet_link_tag('_modal')%>
<button data-controller="modal" data-action="modal#show" data-modal-dialog-param="contact_details_modal">
  Delete
</button>
<dialog id="contact_details_modal" aria-labelledby="modal_title" data-controller="modal">
  <header class="modal-header">
    <h2 id="modal_title">Are you sure?</h2>
   
  </header>
  <div class="modal-content">
     <button aria-label="close" data-action="click->modal#close" class="modal-close-button">no</button>
     <%= button_to "Delete", @user, method: :delete, class: "button-link", data: { turbo_method: 'delete', turbo_confirm: "Are you sure?" } %>
  </div>
</dialog>
